/**
 * AtomAgent Web UI - Main CSS Entry Point
 * Imports all modular CSS files
 */

@import url('variables.css');
@import url('sidebar.css');
@import url('chat.css');
@import url('panels.css');
@import url('buttons.css');
@import url('modal.css');
@import url('docker.css');
@import url('thinking.css');
@import url('markdown.css');
@import url('tools.css');
@import url('browser.css');
@import url('tasks.css');
@import url('responsive.css');
